body{
    font-family: 'Merriweather', serif;
    background-image: url("./pictures/pattern.png");
    background-repeat: repeat;
    background-size: 150px 130px;
    height: 100%;
    width: 100%;
    border:0px;
    padding:0px;
    margin: 0px;
}
.bg-div{
    background: radial-gradient(ellipse at 50% 30% , rgba(256,256,256, .95), rgba(230,230,230,.8), rgb(192, 192, 192));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border:0px;
    padding:0px;
    margin: 0px;
    position: fixed;    
}

h1, h2{
    font-family: 'Lora', serif;
}

.photoviewer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    box-shadow: 2px 3px 7px #444;
}

.main-div{
    position: relative;
}

div.picture{
    max-width: 720px;
    max-height: 720px;
    align-items: center;
    display: flex;
}

img.arrow{
    padding: 10px;
    justify-content: space-evenly;

}
.arrow-div{
    flex-grow: 1;
    height: 100%;
    background-color: whitesmoke;
    display: flex;

}
.right{
    transform: scale(-1);
}

img.photo{
    max-width: 720px;
    max-height: 720px;
}

div.text{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    bottom: 0px;
    color: #7FDBFF;
    background-color: rgba(7, 7, 7, 0.5);
    padding:1em;
    max-height: 30%;
    overflow: auto;
    transition: transform .4s ease-in-out 0.3s;
    transform: scaleY(1); 
    transform-origin: bottom;
}
.main-div:hover .text{
    transform: scaleY(0);
}

.text h1, .text p{
    opacity: 1;
}

section.navigation{
    display: flex;
}

.thumb-pic{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border: 3px solid grey;
    margin: 5px;
}

.thumbnail-image{
    object-position: center center; /* needs fix on centering and scaling...*/
    object-fit: cover;
    margin: auto;
}

.thumbnail-title{
    position: absolute;
    visibility: hidden;
}












footer{
    display: flex;
    max-width: 80%;
    justify-content: space-evenly;
    position: fixed;
    bottom:0px;
    background:#c0c0c0;
    color: #001F3F;
    box-shadow: 0px 0px 5px #444;
    border-radius: 20% 20% 0 0;
}

footer p{
    margin-left: 3em;
    margin-right: 3em;
}
footer a, footer a:visited{
    color: #85144B;
    text-decoration: none;
}

footer a:hover{
    color: #c81e71;
    text-decoration: none;
}

footer, .invisible{
    height: 3em;
}